<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-light min-vh-100">
    <nav class="navbar navbar-expand-sm navbar-light bg-white shadow">
      <div class="navbar-brand">Yelp!</div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Restaurants', restaurants_path, class: 'btn btn-link' %>
        </li>
      </ul>
    </nav>

    <div class="container pt-4">
      <%= yield %>
    </div>

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      Made with ♥ at Le Wagon
    </footer>
  </body>
</html>
